<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Local Metrics</title>
  <style>
    @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
    @import url(stylesheets/style.css);

    body { 
      margin-top: 0;
      width: 100%;
      }
    #header { 
      border-bottom: 1px #000 solid;
      overflow: hidden;
      }
    #header h1 { 
      float: right;
      font-size: 25px;
      margin-top: 0;
      margin-right: 12%;
      }
    #hosts_nav { clear: both; }

    #hosts_nav,
    #main { 
      width: 960px;
      margin: 0 auto;
      }

    #example1 { min-height: 155px; }
    #example2a { min-height: 153px; }
    #example2b { min-height: 255px; }

    .horizon .title,
    .horizon .value {
      text-shadow: black 1px 1px;
      color: white;
      }
  </style>
</head>
<body>
  <div id="header">
    <h1>dashboardr</h1>
  </div>
  <ul id="hosts_nav" class="nav">
    <% server_hosts.each do |group, fqdns| %>
      <li data-group="<%= group %>"><%= group %></li>
    <% end %>
  </ul>

  <div id="main">
    <div id="dashboard-axis"></div>

    <% server_html.each do |html| %>
      <%= html %>
    <% end %>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="javascripts/d3.v2.js"></script>
<script src="javascripts/cubism.v1.js"></script>
<script src="javascripts/highlight.min.js"></script>

<%= cubism %>
<%= cubism_servers %>

